body{
    background: #83757588;
    letter-spacing: 3px;
    font-size:2rem;
}




h1 {
    background-color: rgb(227, 133, 25);
    text-align: left;
}

.item{
    display: flex;
    /* flex-direction: column; */
    color: white;
    text-align: leftr;
    padding-left:60px;
    height: 150px;
    /* align-self: center;   */
    align-items: center;
}

p .item {
    font-weight:bold;

}



.item1{
    background-color: rgb(27, 127, 150);
   
    grid-column: span 2;
    


}
.item2{
    background-color: rgb(84, 36, 120);
    grid-column: span 3;

}

.item3{
    background-color: rgb(191, 73, 87);
    grid-column: span 3;


}
.item4{
    background-color: rgb(160, 122, 50);
    grid-column: span 2;
}

.item5{
    
    background-color: rgb(53, 100, 169);
    grid-column: span 2;
}
.item6{
    background-color: rgb(86, 210, 171);
    grid-column: span 3;
}

.container{

        display: grid;
        background-color: lightgray;
        padding: 20px;
        border: 1px solid #ccc;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: reapeat(3,1fr);
        /* justify-items: center; */
        /* align-items: center; */
        
        

    }




